<launch>
  <arg
    name="model" />
  <param
    name="robot_description"
    textfile="$(find alt_car_assembly)/urdf/alt_car_assembly.urdf" />

  <rosparam command="load" file="$(find alt_car_assembly)/config/config_controllers.yaml"/>
  <node
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find alt_car_assembly)/urdf.rviz" />
</launch>